# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

# System/tool-specific ignores
.directory
*~

.sconsign.dblite

bin/win64
bin/win32
bin/x11
bin/osx

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#.64 zip
Godot_v3.0.6-stable_linux_headless.64.zip
a.out
*.log
*.gcov
*.gcda
*.gcno